{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-header bg-primary text-white">Вход в систему</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <!-- Простой вывод формы -->
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}